ƒÜwiczenie z API
≈∫r√≥d≈Ço danych: https://api.nbp.pl/api/exchangerates/tables/A?format=json

In [4]:
import requests
import pandas as pd
import seaborn as sns

## Pobranie danych

In [26]:
try:
    url = 'https://api.nbp.pl/api/exchangerates/tables/A?format=json'
    response = requests.get(url)
    nbp_data = response.json()
    print('Dane pobrane, status: ', response.status_code)
except requests.exceptions.ConnectionError as e: 
    print('B≈ÇƒÖd pobierania danych, starus: ',response.status_code, e)

Dane pobrane, status:  200

## Sformatowanie danych do DataFrame

In [32]:
print(type(nbp_data))
print(nbp_data[0])

df = pd.DataFrame(nbp_data[0]['rates'])
df.head()

<class 'list'>
{'table': 'A', 'no': '096/A/NBP/2025', 'effectiveDate': '2025-05-20', 'rates': [{'currency': 'bat (Tajlandia)', 'code': 'THB', 'mid': 0.114}, {'currency': 'dolar ameryka≈Ñski', 'code': 'USD', 'mid': 3.7747}, {'currency': 'dolar australijski', 'code': 'AUD', 'mid': 2.4227}, {'currency': 'dolar Hongkongu', 'code': 'HKD', 'mid': 0.4821}, {'currency': 'dolar kanadyjski', 'code': 'CAD', 'mid': 2.7076}, {'currency': 'dolar nowozelandzki', 'code': 'NZD', 'mid': 2.2343}, {'currency': 'dolar singapurski', 'code': 'SGD', 'mid': 2.9138}, {'currency': 'euro', 'code': 'EUR', 'mid': 4.2497}, {'currency': 'forint (Wƒôgry)', 'code': 'HUF', 'mid': 0.01056}, {'currency': 'frank szwajcarski', 'code': 'CHF', 'mid': 4.5376}, {'currency': 'funt szterling', 'code': 'GBP', 'mid': 5.0483}, {'currency': 'hrywna (Ukraina)', 'code': 'UAH', 'mid': 0.0909}, {'currency': 'jen (Japonia)', 'code': 'JPY', 'mid': 0.026125}, {'currency': 'korona czeska', 'code': 'CZK', 'mid': 0.1707}, {'currency': 'korona du≈Ñska', 'code': 'DKK', 'mid': 0.5697}, {'currency': 'korona islandzka', 'code': 'ISK', 'mid': 0.029127}, {'currency': 'korona norweska', 'code': 'NOK', 'mid': 0.3676}, {'currency': 'korona szwedzka', 'code': 'SEK', 'mid': 0.3909}, {'currency': 'lej rumu≈Ñski', 'code': 'RON', 'mid': 0.8372}, {'currency': 'lew (Bu≈Çgaria)', 'code': 'BGN', 'mid': 2.1728}, {'currency': 'lira turecka', 'code': 'TRY', 'mid': 0.097}, {'currency': 'nowy izraelski szekel', 'code': 'ILS', 'mid': 1.0715}, {'currency': 'peso chilijskie', 'code': 'CLP', 'mid': 0.004026}, {'currency': 'peso filipi≈Ñskie', 'code': 'PHP', 'mid': 0.0678}, {'currency': 'peso meksyka≈Ñskie', 'code': 'MXN', 'mid': 0.1959}, {'currency': 'rand (Republika Po≈Çudniowej Afryki)', 'code': 'ZAR', 'mid': 0.209}, {'currency': 'real (Brazylia)', 'code': 'BRL', 'mid': 0.6685}, {'currency': 'ringgit (Malezja)', 'code': 'MYR', 'mid': 0.8802}, {'currency': 'rupia indonezyjska', 'code': 'IDR', 'mid': 0.00022995}, {'currency': 'rupia indyjska', 'code': 'INR', 'mid': 0.044147}, {'currency': 'won po≈Çudniowokorea≈Ñski', 'code': 'KRW', 'mid': 0.002711}, {'currency': 'yuan renminbi (Chiny)', 'code': 'CNY', 'mid': 0.5228}, {'currency': 'SDR (MFW)', 'code': 'XDR', 'mid': 5.1071}]}

             currency code     mid
0     bat (Tajlandia)  THB  0.1140
1   dolar ameryka≈Ñski  USD  3.7747
2  dolar australijski  AUD  2.4227
3     dolar Hongkongu  HKD  0.4821
4    dolar kanadyjski  CAD  2.7076

Dodanie daty kursu walut

In [36]:
df['effectiveDate'] = nbp_data[0]['effectiveDate']
df.head()

             currency code     mid effectiveDate
0     bat (Tajlandia)  THB  0.1140    2025-05-20
1   dolar ameryka≈Ñski  USD  3.7747    2025-05-20
2  dolar australijski  AUD  2.4227    2025-05-20
3     dolar Hongkongu  HKD  0.4821    2025-05-20
4    dolar kanadyjski  CAD  2.7076    2025-05-20

Sprawdzenie liczby kurs√≥w

In [37]:
df.count()

currency         33
code             33
mid              33
effectiveDate    33
dtype: int64

Weryfikacja poprawno≈õci danych

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   currency       33 non-null     object
 1   code           33 non-null     object
 2   mid            33 non-null     float64
 3   effectiveDate  33 non-null     object
dtypes: float64(1), object(3)
memory usage: 1.2+ KB

In [39]:
df.isnull().sum()

currency         0
code             0
mid              0
effectiveDate    0
dtype: int64

In [40]:
df.describe()

             mid
count  33.000000
mean    1.273374
std     1.646018
min     0.000230
25%     0.090900
50%     0.482100
75%     2.234300
max     5.107100

TOP 5 walut o najwy≈ºszym kursie

In [44]:

max_values = df.sort_values(by='mid',ascending= False)
max_values.head()

             currency code     mid effectiveDate
32          SDR (MFW)  XDR  5.1071    2025-05-20
10     funt szterling  GBP  5.0483    2025-05-20
9   frank szwajcarski  CHF  4.5376    2025-05-20
7                euro  EUR  4.2497    2025-05-20
1   dolar ameryka≈Ñski  USD  3.7747    2025-05-20

TOP 5 wlaut o najni≈ºszym kursie

In [45]:

max_values = df.sort_values(by='mid')
max_values.head()

                   currency code       mid effectiveDate
28       rupia indonezyjska  IDR  0.000230    2025-05-20
30  won po≈Çudniowokorea≈Ñski  KRW  0.002711    2025-05-20
22          peso chilijskie  CLP  0.004026    2025-05-20
8            forint (Wƒôgry)  HUF  0.010560    2025-05-20
12            jen (Japonia)  JPY  0.026125    2025-05-20

≈öredni kurs dla wszystkich walut

In [48]:
mean_mid = df['mid'].mean().round(2)
print(mean_mid)

1.27

Wluty kt√≥re posiadajƒÖ kurs wy≈ºszy ni≈º 4 PLN

In [49]:
higher_than_4 = df['mid'] > 4
print(higher_than_4)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9      True
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32     True
Name: mid, dtype: bool

üü® 3. MANIPULACJE I SORTOWANIE
‚úÖ Cel: ƒáwiczenie na Pandas

Posortuj dane rosnƒÖco i malejƒÖco wg mid

Przefiltruj tylko te waluty, kt√≥rych kurs > 4

Zr√≥b nowƒÖ kolumnƒô PLN_value_100 = kurs √ó 100 (czyli ile kosztuje 100 jednostek tej waluty)

Zastosuj .round(2) do nowej kolumny

üüß 4. WIZUALIZACJA
‚úÖ Cel: przygotowanie do czƒô≈õci wykresowej projektu

Narysuj wykres TOP 10 walut wg kursu mid

Zmie≈Ñ kolor s≈Çupk√≥w na zielony (color='green')

Dodaj tytu≈Ç wykresu i etykiety osi

Dodaj etykiety z warto≈õciami kursu nad s≈Çupkami

üü• 5. OBS≈ÅUGA B≈ÅƒòD√ìW I TRY / EXCEPT
‚úÖ Cel: przygotowanie kodu produkcyjnego

Obs≈Çu≈º b≈ÇƒÖd braku internetu (ConnectionError)

Obs≈Çu≈º sytuacjƒô, gdzie rates nie istnieje (np. KeyError)

Je≈õli status API ‚â† 200, wy≈õwietl ‚ÄûB≈ÇƒÖd pobierania danych: ...‚Äù

Je≈ºeli dane sƒÖ puste, przerwij skrypt z informacjƒÖ dla u≈ºytkownika

üèÅ 6. MINI CHALLENGE ‚Äì FAKE NEWS DETECTOR
‚ùìCzy istnieje waluta o nazwie 'bitcoin' lub 'BTC' w tabeli?

Wypisz jƒÖ, je≈õli tak.

Je≈õli nie ‚Äì napisz: ‚ÄûTaka waluta nie istnieje w tabeli A NBP.‚Äù